# environment variables
.env

# Python
__pycache__/
*.pyc
.venv/
EOF
# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Data files
openaq_data/
openaq_sample/
temp_epd/
output_epd/
*.csv
*.csv.gz
*.parquet

# data files
openaq_data/
openaq_sample

# my scratchpad file
notes.md 
api_notes.md
learning_diary.md

*.tfvars

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/.user.yml

# Airflow
orchestration/logs/
orchestration/plugins/
orchestration/.env

# Exploration data outputs
exploration/OpenAQData/openaq_data/
exploration/OpenAQData/openaq_sample/
exploration/output_epd/
exploration/output_prescribing/

# OS
.DS_Store
.devcontainer/

# Streamlit
streamlit_app/.streamlit/secrets.toml
streamlit_app/.streamlit/secrets.toml.bak
app_test.py

# Other
understanding_dbt_models.excalidraw
Analysis_Notes.docx